<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <style> div {text-align: center;} </style>
    <div>
        <h1>Welcome to the Flask Application</h1>
    
        <form action = "" method="post">
            <label>User Name</label><br>
            <input type = 'text' name = 'in_1' placeholder="Enter User Name"><br><br>
            <button> Submit </button>
        </form>
         <br>
        User Name in Upper Case = {{upper}}
    </div>
</body>
</html>